@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0px 200px 150px; */
  padding: 0 12.5rem 9.375rem; /* 0px, 200px / 16 = 12.5rem, 150px / 16 = 9.375rem */
  max-width: 120rem; /* 1920px / 16 = 120rem */
  width: 100%;
  background: #e7e7e6;
  height: auto;
  margin: 0 auto;
}

.customer-form__container {
  max-width: 120rem; /* 1920px / 16 = 120rem */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.main__heading {
  display: flex;
  gap: 12px;
}

.main__heading-main,
.main__heading-news,
.main__heading-span {
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}

.main__heading-news {
  color: #fdc70d;
}

form {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 25px;
  width: 100%;
  max-width: 1520px;
  height: 785px;
  background: #ffffff;
  border-radius: 10px;
}

form input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  gap: 10px;
  border: none;
  max-width: 1480px;
  width: 100%;
  height: 82px;

  /* E7E7E6 */
  background: #e7e7e6;
  border-radius: 15px;
}

textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 30px 200px;
  gap: 10px;
  max-width: 1480px;
  width: 100%;
  height: 252px;
  background: #e7e7e6;
  border-radius: 15px;
  border: none;
}

.form__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  gap: 10px;
  width: 345px;
  height: 62px;
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background: #fdc70d;
  border-radius: 50px;
  border: 1px solid #fdc70d;
}

.form__addfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 249px;
  height: 48px;
  background: #fdc70d;
  border-radius: 5px;
  border: 1px solid #fdc70d;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

