@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Actor", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 14.375rem;
  background: #adadad;
  position: relative;
}

.header__container {
  position: absolute;
  top: 2.5rem;
  z-index: 2;
  max-width: 79%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  gap: 50px;
  height: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #ffc600;
  border-radius: 52px;
}

.header__container-logo,
.header__burger {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  width: 4.375rem;
  height: 4.375rem;
}

.header__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header__list-item {
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__burger {
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  cursor: pointer;
}

.header__burger-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 4px;
  background-color: black;
  transition: transform 0.3s ease;
}

.header__burger-line:nth-child(1) {
  top: 23px;
}

.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__burger-line:nth-child(3) {
  bottom: 23px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}

.header__search {
  align-self: center;
}

.header__frame {
  position: absolute;
  max-width: 120rem;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background: #e7e7e6;
  border-radius: 50px 50px 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 200px 150px;
  gap: 9.375rem;
  height: auto;
  background: #e7e7e6;
}

.main__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  gap: 100px;
}

.main__heading {
  display: flex;
  gap: 12px;
}

.main__heading-main,
.main__heading-news,
.main__heading-span {
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}

.main__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 95rem;
}

.main__buttons-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main__buttons-left-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
  border: 1px solid white;
  width: 108px;
  height: 44px;
  border-radius: 5px;
  gap: 20px;
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.main__buttons-left-btn--active {
  background: #fdc70d;
  border: 1px solid #fdc70d;
}

.main__buttons-right {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.main__buttons-right-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 61px;
  height: 44px;
  background: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.main__buttons-right-btn--active {
  background: #fdc70d;
  border: 1px solid #fdc70d;
}

.main__button-right-archive {
  width: 176px;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.main__news {
  display: flex;
  flex-direction: column;
  max-width: 95rem;
  gap: 50px;
  margin-top: -20px;
  align-items: center;
}

.main__news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem;
}

.main__news-title {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.main__news-grid-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 8px;
  max-width: 30.833125rem;
  height: 14.375rem;
  background: #ffffff;
  border-radius: 25px;
}

.main__news-grid-item-content {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.main__news-grid-item-content-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
}

.small {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #000000;
}

.main__news-grid-item-image {
  border-radius: 30px;
}

.main__news-pagination {
  display: flex;
  gap: 15px;
  margin-top: -25px;
}

.main__news-arrow,
.main__news-pages-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12.5714px 10.0571px;
  gap: 12.57px;
  width: 40px;
  height: 44px;
  background: #ffffff;
  border-radius: 6.28571px;
}

.main__news-pages {
  display: flex;
  gap: 5px;
}

.main__news-pages-page--active {
  background-color: #fdc70d;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  height: 22.75rem;
  background: #fdc70d;
}
